.control-label{
  float: left;
    font-size: 13px!important;
    height: 21px;
    line-height: 32px;
    margin-left: 0;
    color: #949494;
}
.border-shadow-0{
  box-shadow: none!important;
}
.td-actions i{
  font-size:20px;

}
.td-actions i.pe-7s-note{
  color:#08bfe0;
}
.td-actions i.pe-7s-users{
  color:#36b37e;
  font-size:21px;
}
.td-actions  a{
  margin-right:9px;
}
.td-actions i.pe-7s-trash{
  color:red;
}
.formss .form-label{
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  padding-left: 15px;
}
.subparone.table-subtitle{
  background-color: #e5ecf5 !important;
  color: #076673;
  font-weight: bold;
}
.subparone.table-subtitle td{
  padding: 5px;
}
.subparone{
  color: #076e9f;
  display:none;
  background-color: #f9fdff;
}
.subparone.subpartwo.table-subtitle{
  background-color: #f4f4f4 !important;
  color: #5f5f5f;
}
.subparone.subpartwo.table-subtitle td{
  border-bottom: 1px solid #8e8e8e;
}
.subparone.subpartwo{
  color:gray;
  background-color: #fafafa;
  display:none;
}
.allgray .nogray *{
  color:#0084cc;
}
.allgray,.allgray h2,.allgray h5,.allgray a{
 color:#cacaca;
}
.text-primary i{
  font-size:17px;
}
.allgray a:hover *{
  color:#a061a3;
}

.custom-switch-description {
    color: #dbe1ec;
}
.multi-wrapper .non-selected-wrapper{
  height:350px!important;
}
select.years option {
  color: black;
}
.readingsT .td-actions i{
  font-size:14px;
}
.readingsT i.flag{
  width: 16px;
      height: 12px;
}
.custom-switch{
  margin-top: 9px;
  width: 100%;
}
.loadingBk{
  background: rgba(0,0,0,.4);
}
.loadingBk .loadimgs{
  background: rgba(0,0,0,.4);
}

.custom-select-sm{
  display: inline;
  width: 95px;
}
